html {
    box-sizing: border-box;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aquamarine;
    color: white;
}

a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: whitesmoke;
}

img {
    width: 1000px;
    height: 630px;
}

li {
    font-style: italic;
}

.recipe-list {
    background-color: lightgray;
    margin-right: 1500px;
    padding-bottom: 300px;
}